<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ClientInvoke.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>HttpRemoting.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PubSubChat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>ServerInvoke.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SharedBall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>SharedBoard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>SharedObjects.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SharedPhoto.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F9046D09155D42AA00658F91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F90E309814A1012E00F183FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F90E30BE14A10F3800F183FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F90E30E314A1150800F183FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F90E310414A1153800F183FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F90E312514A1155E00F183FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F998ECD715C030AB000D49EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9E0B6AF149FD07D00262B0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
